*{
    margin: 0;
    padding: 0;
}

.header-top{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    padding: 5px 10px 5px 10px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}
.header-top .left{
     display: flex;
    flex-direction: row;
}
.header-top .left img{
    height: 40px;
}
.header-top .left div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.header-top .right{
     display: flex;
    flex-direction: row;
    height: 40px;

}
.header-top .right div{
     display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.header-top .left .nav-top-left div:hover{
    background-color: #04AA6D;
    color: white;
    font-weight: normal;
    height: 40px;
}
.header-top .left .nav-top-left div h3{
    font-weight: 300;
    font-size: 16px;
}
.header-top .left .searchbar{
    border: 2px solid lightgray;
    border-radius: 25px;
}
.header-top .left .searchbar input{
    outline:none;
    border: none;
    font-style:italic;
}
.header-top .left .searchbar:focus-within{
    border:#04AA6D 3px solid;
}
.header-top .left .contrast{
    margin-left: 5px;
    
}
.header-top .left .contrast span{
    font-size: 18px;
}
.header-top .left .contrast:hover{
    background-color: lightgray;
    border-radius: 50%;
}
.header-top .right .nav-top-right div h3{
    font-weight: lighter;
    padding-left: 5px;
    font-size: 17px;
}
.header-top .right .nav-top-right svg{
    color: #9763f6;
}
.header-top .right .nav-top-right div:hover{
    border-radius: 25px;
    background-color: rgb(236, 236, 236);
}
.header-top .right .nav-top-right div{
    height: 25px;
    margin-left: 10px;
}
.header-top .right .signin{
    background-color: #D8eee5;
    border-radius: 25px;


}
.header-top .right .signin h3{
        font-size: 16px;
        font-weight: 100;
}
.header-top .right .signin .signup{
    background-color: #04AA6D;
    border-radius: 25px;
    margin-right: 15px;
    padding: 10px 20px;
    color: white;
}
.header-bottom{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #282b35;
    margin-top:2px ;
    width: 100%;
    height: 25px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    align-items: center;
}
.header-bottom h3{
    font-size: 15px;
    padding: 0px 20px;
    font-weight: 100;
    white-space: nowrap;
    cursor: pointer;
}
.header-bottom h3:hover{
    background-color: black;
}