@font-face {
  font-family: etna;
  src: url(./etna.otf);
}


*{
    margin: 0;
    padding: 0;
    font-family: etna;
    overflow: hidden;
}


h1{
    text-align: right;
    margin-right: 30px;
    font-size: 35px;
    font-weight: 500;
}
h1::after{
    content: "";
    position: absolute;
    top: 40px;
    right: 30px;
    width: 270px;
    height: 5px;
    background-color: black;
    border-radius: 25px;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: calc(100vh - 36px);
    
}
table {
  border-collapse: collapse;
  background-color: white;
  border: 1px solid lightgrey;   /* 🌫️ light grey outer border */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 5px 5px 5px lightgrey;
}

th, td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6; /* subtle inner row lines */
}

tr:last-child td {
  border-bottom: none; /* removes bottom line of last row */
}
span{
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
    

}
th span{
    background-color: rgb(27, 27, 27);
    color: white;
}
td span{
    background-color: rgb(242, 242, 242);
    color: black;
}
.com span{
    background-color: rgb(200, 200, 200) !important;
    color: black;
}
.circle1{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.359);
    position: absolute;
    bottom: -100px;
    left: -100px;
    z-index: -1;
}
.circle2{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: -100px;
    left: -100px;
    z-index: -1;
}